[submodule "Assets/Editor/Utils"]
	path = Assets/Editor/Utils
	url = https://github.com/nistace/unityeditorutils.git
[submodule "Assets/Scripts/Utils"]
	path = Assets/Scripts/Utils
	url = https://github.com/nistace/unityutils.git
